<div class="row h-100">
  <div class="col-8 bg-success">
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat autem a, quod recusandae optio dicta suscipit placeat neque ut illo natus nobis incidunt necessitatibus, at voluptate laboriosam consequuntur molestiae tempora.</div>
    <div>Adipisci officia distinctio a dolorum voluptas tempora iste optio, reiciendis dolores totam soluta reprehenderit impedit, mollitia, dignissimos modi consectetur. Voluptatibus laboriosam tempora atque non quo quas molestias ipsa soluta, commodi?</div>
    <div>Corrupti voluptas nobis eligendi impedit laudantium itaque voluptate commodi. Dignissimos repellat eum, eos temporibus eveniet rerum voluptatibus, optio inventore ad sint repudiandae totam aperiam, at! Iste consequatur laboriosam ullam ab!</div>
    <div>Placeat fugiat aperiam cum porro vel distinctio rerum quas, odit amet magni dicta, ea et eveniet consectetur, optio consequatur ipsum deleniti dolorem pariatur. Ratione facilis odio optio, vel reiciendis ea.</div>
    <div>Esse quibusdam eligendi odio laboriosam cumque quae inventore culpa assumenda impedit molestias, exercitationem sunt cum eaque, soluta necessitatibus nisi aspernatur deserunt, modi ducimus magni, magnam rerum obcaecati itaque. Exercitationem, atque.</div>
    <div>Dolores placeat beatae architecto, voluptates ab, tempore. Consequuntur nemo labore expedita assumenda est eum in, magni accusamus! Veritatis, molestiae esse, sunt necessitatibus, odio natus harum eveniet facere earum laboriosam accusantium?</div>
    <div>Dolorum placeat quod veniam, labore ad! Accusantium laudantium quae blanditiis assumenda quaerat, nesciunt culpa iste minima ad recusandae adipisci labore obcaecati nulla sequi possimus harum consectetur quisquam reiciendis quo distinctio?</div>
    <div>Quis itaque autem deleniti, laborum, est odio nesciunt? Porro, ipsa. Rem fugiat id cumque, optio quisquam! Suscipit molestias, dolor sit! Dignissimos unde vitae eum. Sapiente nam, veniam quis distinctio ratione?</div>
    <div>Quae veritatis sed, ullam voluptas excepturi natus architecto optio sapiente odio numquam aliquid voluptatem delectus laudantium, sequi obcaecati voluptates nihil commodi voluptatibus assumenda corrupti dolores reprehenderit omnis ipsa vero! Maxime!</div>
    <div>Excepturi facere rem est, molestias libero modi sunt iure suscipit qui, dolores animi facilis delectus asperiores, optio numquam dolorum ex ipsa itaque! Officiis est nisi non molestiae explicabo, blanditiis id.</div>
  </div>
  <div class="col-4 test-div">
    <div class="sticky-top">
      <%= image_tag "https://miro.medium.com/max/3000/1*diwt9ZXXWtas1VAheJNgTQ.jpeg", alt: "alttext" %>
    </div>
  </div>
</div>

