.pill-category {
  white-space: nowrap;
  border: 2px solid #EEF3F1;
  border-radius: 2px;
  transition: 0.1s ease;
  cursor: pointer;
  &:hover {
    transform: translate(0px, -1px);
  }
}

.card-channel {
  border: 2px solid #d5e8e0;
}

.card-tip {
  border-radius: 2px;
  .card-tip-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
}


.bg-light-blue {
  background-color: #deeffc;
}

.border-light-blue {
  border: 2px solid #b9daf7;
}

.bg-light-green {
  background-color: #d5e8e0;
}

.border-light-green {
  border: 2px solid #b3e0cc;
}

.bg-semi-blue {
  background-color: #b2eef7;
}

.border-semi-blue {
  border: 2px solid #87e4f2;
}

.bg-semi-green {
  background-color: #b1efe8;
}

.border-semi-green {
  border: 2px solid #94e0d7;
}

.spreadsheet {
  border: 2px solid #d5e8e0;
}

a.spreadsheet-link {
  color: #1382ad;
  white-space: wrap;
  &:hover {
    color: #1382ad;
    opacity: 0.6;
  }
}

.blue-border-rules {
  border: 2px solid #3C87C3;
  border-radius: 2px;
}

.bot-info {
  border: 1px solid #d5e8e0;
  border-radius: 25px;
  white-space: nowrap;
  width: fit-content;
  i {
    font-size: 8px;
    color: #00d6a1;
  }
}

.bot-title {
  white-space: nowrap;
}

.command {
  background-color: #d5e8e0;
  padding: 2px;
}

.person {
  color: #5069aa;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.bot-template {
  background-color: #d5e8e0;
  width: fit-content;
}

.bot-example {
  border: 2px solid #d5e8e0;
}

.bot-link {
  background-color: #7289DA;
  color: white;
  &:hover {
    color: white;
    background-color: #95a5d8;
  }
}

.search {
  font-size: 16px;
}

.login-info {
  border: 2px solid #8bbaa5;
  width: fit-content;
}

a.login-button {
  background-color: #8ED0C9;
  color: white;
  transition: 0.1s ease;
  border-radius: 2px;
  &:hover {
    background-color: #58c9bc;
    transform: translate(0px, -1px);
    color: white;
  }
}


li.infographic {
  display: inline-block;
  img.image {
    width: 100%;
    transition: 0.2s ease;
  }
  .infographic-tags {
    display: none;
  }
}

.bot-sub-title {
  font-size: 20px;
}

