.pill-category {
  white-space: nowrap;
  border: 2px solid #EEF3F1;
  border-radius: 2px;
  transition: 0.1s ease;
  cursor: pointer;
  &:hover {
    transform: translate(0px, -1px);
  }
}

.card-channel {
  border: 2px solid #d5e8e0;
}

.card-tip {
  border-radius: 2px;
  .card-tip-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}


.bg-light-blue {
  background-color: #deeffc;
}

.bg-light-green {
  background-color: #d5e8e0;
}

.bg-semi-blue {
  background-color: #b2eef7;
}

.bg-semi-green {
  background-color: #b1efe8;
}

.spreadsheet {
  border: 2px solid #d5e8e0;
}

a.spreadsheet-link {
  color: #1382ad;
  white-space: wrap;
  &:hover {
    color: #1382ad;
    opacity: 0.6;
  }
}

.blue-border-rules {
  border: 2px solid #3C87C3;
  border-radius: 2px;
}

.bot-info {
  border: 1px solid #d5e8e0;
  border-radius: 25px;
  white-space: nowrap;
  width: fit-content;
  i {
    font-size: 8px;
    color: #00d6a1;
  }
}

.bot-title {
  white-space: nowrap;
}

.command {
  background-color: #d5e8e0;
  padding: 2px;
}

.bot-template {
  background-color: #d5e8e0;
  width: fit-content;
}

.bot-example {
  border: 2px solid #d5e8e0;
}

.search {
  font-size: 16px;
}

.login-info {
  border: 2px solid #8bbaa5;
  width: fit-content;
}

a.login-button {
  background-color: #8ED0C9;
  color: white;
  transition: 0.1s ease;
  border-radius: 2px;
  &:hover {
    background-color: #58c9bc;
    transform: translate(0px, -1px);
    color: white;
  }
}


