// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-size: cover;
  background-position: center;
  background-image: asset-url("palmtree.png");
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
}

a {
  color: rgba(30,30,30,1);
  transition: 0.05s ease;
  &:hover {
    color: rgba(130,130,130,1);
    text-decoration: none;
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
